.home-skeleton {
	padding: 100px;
}

.container-fluid {
	color:white;
}

body {
	background: url('jonathan-bowers-531776-unsplash.jpg');
	font:white;
}

.welcome {
	padding:10px;
	margin-left: 20px;
	margin-right: 20px;
}

.home_links {
	padding:20px;
	margin-left: 20px;
	margin-right: 20px;
}

img {
	display:block;
	margin:auto;
}

header {
	text-align: center
}

@media (max-width: 480px) {
  .navbar li {
    padding: 10px;
  }
